<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #input
          (input)="term$.next(input.value || '')"
          type="text"
          class="form-control"
          placeholder="Search user"
          autocomplete="off" />
      </div>
    </div>
  </div>
</div>

@if (isLoading){
<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert alert-info text-center">
      <strong>Loading...</strong>
      <br />
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
  </div>
</div>
} @else {
<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card container-fluid overflow-auto">
      <div class="card-body">
        <h3 class="card-title">
          Registered users (
          <small>{{ totalRows }}</small>
          )
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="w150">Avatar</th>
              <th>Email</th>
              <th>Name</th>
              <th class="w200">Role</th>
              <th class="w200">Auth</th>
              <th class="w150">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track $index) {
            <tr>
              <td class="w50">
                <img
                  (click)="showModal(user)"
                  [src]="user.urlImage"
                  class="img-50 img-circle pointer"
                  referrerpolicy="no-referrer" />
              </td>
              <td class="align-content-center">{{ user.email }}</td>
              <td class="align-content-center">{{ user.name }}</td>
              <td class="align-content-center">
                <select [(ngModel)]="user.role" name="role" class="form-control min-w120" (change)="updateUser(user)">
                  <option value="ADMIN_ROLE">Admin</option>
                  <option value="USER_ROLE">User</option>
                </select>
              </td>
              <td class="align-content-center">
                <label *ngIf="user.google" class="label label-danger">Google</label>
                <label *ngIf="!user.google" class="label label-info">Normal</label>
              </td>
              <td class="align-content-center">
                <button (click)="deleteUser(user)" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="6" class="text-center">No results</td>
            </tr>
            }
          </tbody>
        </table>
        @if (!input.value && users.length) {
        <button (click)="changeFrom(-5)" class="btn btn-secondary m-r-10 animated fadeIn">Previous</button>
        <button (click)="changeFrom(5)" class="btn btn-secondary animated fadeIn">Next</button>
        }
      </div>
    </div>
  </div>
</div>
}
