<div class="row animated fadeIn">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover" *ngIf="usuarios.length > 0">
          <tbody>
            <tr *ngFor="let usuario of usuarios" class="pointer" [routerLink]="['/usuarios']">
              <td>
                <img [src]="usuario.img | image" class="img-50 img-circle" />
              </td>
              <td>{{ usuario.name }}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="usuarios.length === 0">No hay registros</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Médicos</h4>
        <table class="table table-hover" *ngIf="medicos.length > 0">
          <tbody>
            <tr *ngFor="let medico of medicos" class="pointer" [routerLink]="['/medico', medico.uid]">
              <td>
                <img [src]="medico.img | image : 'medics'" class="img-50 img-circle" />
              </td>
              <td>{{ medico.name }}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="medicos.length === 0">No hay registros</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover" *ngIf="hospitales.length > 0">
          <tbody>
            <tr *ngFor="let hospital of hospitales" class="pointer" [routerLink]="['/hospitales']">
              <td>
                <img [src]="hospital.img | image : 'hospitals'" class="img-50 img-circle" />
              </td>
              <td>{{ hospital.name }}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="hospitales.length === 0">No hay registros</div>
      </div>
    </div>
  </div>
</div>
